.fast-checkout {

  .checkout-or-line {
    position: relative;
    margin: 0 1.2rem;

    &:before {
      content: "";
      border-bottom: 1px solid #eee;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      /* z-index: 1; */
      top: 50%;
    }

    strong {
      background-color: #fff;
      padding: 0 1rem;
    }
  }
  .input-unit {
    border-color: #333;
    border-radius: 5px;
  }

  #customerCardAction {
    .card {
      height: 0;
    }
  }

  .card {
    .card-header {
      button {
        &:after {
          content: "\f078";
          font-family: 'FontAwesome';
          font-size: .8rem;
          vertical-align: text-bottom;
          right: 0.5rem;
          position: absolute;
          transform: rotate(180deg);
          transition: all .3s ease;
          min-height: unset;
        }

        &.collapsed {
          &:after {
            transform: rotate(0);
            transition: all .3s ease;
          }
        }
      }
    }
  }
}
